#saucy-charts-dd {
    cursor: pointer;
}

.loc-history-content .line-added, .loc-history-content .line-removed {
    fill: none;
    stroke-width: 5px;
}

.loc-history-content .line-removed {
    stroke-dasharray: 3,10;
}

